* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #ece3c6;
}

@media (max-width: 992px) {
  img.foto {
    width: 40px;
  }
  a.garis {
    display: none;
  }
}
@media (min-width: 576px) {
  img.foto {
    width: 60px;
  }
  /* a.garis {
    display: none;
  } */
}

@media (min-width: 768px) {
  img.foto {
    width: 90px;
  }
}

/* @media (min-width: 600px) {
  img.foto {
    width: 60px;
  }
}
@media (max-width: 600px) {
  img.foto {
    width: 100px;
  }
} */
